/* ==========================================================================
   Image utilities
   ========================================================================== */

/**
 * Variables
 *
 * It is recommended to override these.
 *
 * 1. Utility namespace.
 */

$bits-utils-ns: 'bits-' !default; /* 1 */

/* -------------------------------------------------------------------------- */

/**
 * Image replacement technique, see http://bit.ly/NgnSfH for details.
 */

.#{$bits-utils-ns}u-imageReplace {
  overflow: hidden !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  border: 0 !important;
}

/**
 * If the IR'ed element has bottom-padding, then either it needs to be
 * removed or the height needs to be bumped up (e.g., set to 200%).
 */

.#{$bits-utils-ns}u-imageReplace:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* -------------------------------------------------------------------------- */

/**
 * Responsive image
 *
 * 1. Remove the gap between image and the bottom of their containers
 * 2. Maximum width of its parent
 * 3. Scale the height properly ensuring the right ratio
 */

.#{$bits-utils-ns}u-imageResponsive {
  vertical-align: middle; /* 1 */
  max-width: 100%; /* 2 */
  height: auto; /* 3 */
}